@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    }

body, html {
    background-color: lightgrey;
}

header {
    background-color: gray;
    padding: 5px;
 
}

#burguer {
    background-color:rgb(24, 23, 23);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}


menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
}

menu > ul > li > a:hover{
    background-color: black;
}


header h1 {
    text-align: center;
    padding: 10px;
}
header li{
    display: inline;
    padding: 3px;
    text-align: center;
    }

header a {
    text-decoration: none;
    color: white;
    background-color: rgb(95, 86, 86);
    padding: 8px 8px 5px 8px;
}

main {
    background-color: white;
    width: 700px;
    padding: 5px;
    margin: 10px auto;
    border-radius: 15px;
}

article > p{
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}

