@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family = Cabin: wght @ 400; 500; 600; 700 & display = swap');

:root {

    --cor0:#EB6A0E;
    --cor1:#F2550A;
    --cor2: #DB4214;
    --cor3: #F22B0A;
    --cor4: #EB0D00;
    


    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Cabin', sans-serif; 

}

*{
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: var(--cor4);
    padding: 10px 30px 30px 30px;
    }

nav > div > a{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}    

.esquerda{
    float: left;
    
}

.direita{
    float: right;
}

.logo{
    float:left;
    position: relative;
    padding-left: 80px;
       
}

.busca {
    float: left;
    position: absolute;
    top: 80px;
    left: 300px;
     
}

.busca1 {
    float: right;
    top: 40px;
    right: 30px;
    position: relative;
}

.busca1 a{
    background-color: var(--cor2);
    color: white;
    border-radius: 40px 0px 40px 0px;
    padding: 10px 30px; 
}
main > div > a{
    color: var(--cor4);
    font-family: var(--fonte-padrao);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

main > img {
    margin: 0px;
    display: inline;
}
a:hover{
    color: #EB6A0E;
}

.titulo{
   position: absolute;
 /*  text-align: justify;*/
   font-weight: normal;
  /* padding: 20px;*/
   top: 220px;
   color: white;
   font-family: var(--fonte-destaque);
   font-size: 30px;
   left: 400px;
   text-align: center;
}

.destino{
   position: absolute;
   text-align: center;
   font-weight: bold;
   padding: 20px;
   top: 380px;
   color: white;
   font-family: var(--fonte-padrao);
   font-size: 40px;
   left: 500px;
}
.pacote {
    color: #EB0D00;
    font-size: 26px;
    font-family: var(--fonte-destaque);
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 750px;
    text-align: justify;
}

.diversos {
    float: left;
    columns: 4;
    /*display: inline-block    ;*/
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 80px;
    width: 1800px;
}

.diversos img {border-radius: 10px;}

.oftalmologia{
    padding-bottom: 20px;    
 }

.oftalmologia1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    top: 760px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    float: right;
    position: absolute;
    left: 50px;
}

/*.oftalmologia1 >a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 120px;
    left: 70px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;
    
}*/

.cirurgiaplastica{
    padding-bottom: 20px;
}

.cirurgiaplastica1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    top: 760px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    position: absolute;
    float: right;
    left: 465px;   
}

.cirurgiaplastica1 >a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 120px;
    left: 120px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;
    
}

.checkup{
    padding-bottom: 20px;
}

.checkup1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    top: 760px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    position: absolute;
    float: right;
    left: 1000px;   

}

.checkup1 >a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    position: absolute;
    top: 140px;
    left: 60px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;
   
}
.spa{
    padding-bottom: 20px;
}

.spa1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    float: right;
    position: absolute;
    right: 150px;
    top: 760px;  
}

.spa1 >a {
    text-decoration: none;
    color: #EB0D00;
    font-size: 30px;
    position: absolute;
    top: 140px;
    left: 40px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;   
}

.saudecapilar{
    padding-bottom: 20px;    
 }

.saudecapilar1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    top: 1030px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    float: right;
    position: absolute;
    left: 50px;
}

.saudecapilar1 >a {
    text-decoration: none;
    color: #EB0D00;
    font-size: 30px;
    position: absolute;
    top: 140px;
    left: 70px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;   
}

.medicinaestetica{
    padding-bottom: 20px;
}

.medicinaestetica1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    top: 1030px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    position: absolute;
    float: right;
    left: 470px;   
}

.medicinaestetica1 >a {
    text-decoration: none;
    color: #EB0D00;
    font-size: 30px;
    position: absolute;
    top: 140px;
    left: 120px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;  
}

.termas{
    padding-bottom: 20px;
}

.termas1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    top: 1030px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    position: absolute;
    float: right;
    right: 570px;   

}

.termas1 >a {
    text-decoration: none;
    color: #EB0D00;
    font-size: 30px;
    position: absolute;
    top: 140px;
    right: 80px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;
   
}
.lifebalance{
    padding-bottom: 20px;
}

.lifebalance1{
    text-align: left;
    font-weight: bold;
    padding: 20px;
    top: 1030px;
    text-shadow: #ffff 1px 4px 6px;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    position: absolute;
    float: right;
    right: 60px; 
}

.lifebalance1 >a {
    text-decoration: none;
    color: #EB0D00;
    font-size: 30px;
    position: absolute;
    top: 140px;
    right: 40px;
    padding: 10px;
    background-color: transparent;
    border: solid 1px;
   
}

.inesqueciveis {
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    top: 1400px;
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 30px;
    left: 600px;
}

.laser{
    color: #EB0D00;
    font-size: 20px;
    font-family: var(--fonte-destaque);
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 700px;
    text-align: justify;
    }
 
.informacoes{
  /*  columns: 4;*/
    padding-bottom: 30px;
    padding-left: 270px;
    padding-right: 80px;
    width: 1300px;
   /* position: absolute;*/
   }


footer .contactos img{
   float: left;
   padding: 0px 20px 0px 0px;
}

footer .mail > a{
   position: absolute;
   top: 170px;
   left: 70px;
}

footer p{
    font-size: 18px;
    font-style: var(--fonte-padrao);
}

footer .informacoes .redes > a {
    position: absolute;
    float: left;
    columns: 4;
    top: 2300px;
}

footer .informacoes .redes nav {
background-color: white;
width: 1300px;
} 

footer .informacoes .redes nav > a{
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    position: relative;
    float: left;
    top: 10px;
    right: 60px;
}    

.logofim{
   /* font-style: var(--fonte-padrao);
    font-size: 16px;
   /* padding: 5px;
    position: relative; 
    /*margin: 20px; 
    left: -20px;  */
    float:left;
    position: relative;
    left: -40px;
    top: 80px;
}

.contactos{
    position: absolute;
    padding: 5px;
    left: 250px;
    top: 2050px;
}

li {
    list-style-type: none;
}

.sobrenosfim{
    position: absolute;
    font-size: 16px;
    font-style: var(--fonte-destaque);
    left: 700px;
    top: 2060px;
}

.sobrenosfim a{
    color: #EB0D00;
    text-decoration: none;
    font-size: 18px;
    font-style: var(--fonte-padrao);
}

a:hover {
    text-decoration: underline;
}

.informacoesfim{
    position: absolute;
    font-size: 16px;
    font-style: var(--fonte-destaque);
    left: 950px;
    top: 2060px;

}

.informacoesfim a{
    color: #EB0D00;
    text-decoration: none;
    font-size: 18px;
    font-style: var(--fonte-padrao);
}

a:hover {
    text-decoration: underline;
}

.sobrenosfim > p{
    color: #EB0D00;
}

.novidades{
    position: absolute;
    font-size: 16px;
    font-style: var(--fonte-destaque);
    left: 1200px;
    top: 2060px;
}

.novidades > label{
    font-size: 16px;
    font-style: var(--fonte-padrao);
}

.rodape{
    position: absolute;
    font-size: 16px;
    font-style: var(--fonte-padrao);
    left: 260px;
    top: 2560px;
    padding: 50px 50px 50px 0px;

}