@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
}

body{
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
main{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1050px;
}

header{
    background-color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
header img {
    max-width: 100%;
    height: auto;
}

form{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
    margin: auto;
}

fieldset{
    font-size: 1em;
    columns:3;
    color: rgb(19, 204, 120);
    border: 1px solid rgb(19, 204, 120);
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 1050px;
    padding: 10px;
    width: 100%;
}

.quest{
    flex-direction: column;
    margin-bottom: 10px;
}

.quest > input {
    border: none;
    outline: none;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.quest > select {
    border: none;
    outline: none;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.quest > textarea {
    border: none;
    outline: none;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.quest > input:focus, .quest > select:focus, .quest > textarea:focus {
    border: 1px solid rgb(19, 204, 120);
}

.botao button{
    color: white;
    background-color: rgb(19, 204, 120);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.botao button:hover{
    background-color: #FA7D0B;
}

.botao{
    text-align: center;
    margin-bottom: 20px;
}

#bookingContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}

/*.hoteldatas, */.booking2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    color: rgb(19, 204, 120);
    border: 1px solid rgb(19, 204, 120);
    border-radius: 10px;
    gap: 10px;
    flex-direction: column;
}

.booking {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(19, 204, 120);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

fieldset.booking{
    border: none;
}

.datahotel {
    flex: 1;
    padding: 10px;
    margin: 0px;
}

@media (max-width: 600px) {
    .datahotel {
        flex-direction: column;
        width: 100%;
    }

    .datahotel select {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .datahotel label {
        margin-bottom: 5px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .datahotel select {
        font-size: 12px;
    }
}

h2{
    font-size: 20px;
    font-weight: bold;
    color: rgb(19, 204, 120);
}

h4{
    font-size: 16px;
    font-weight: bold;
    color: rgb(19, 204, 120);
    padding: 5px;
}

h3{
    font-size: 18px;
    font-weight: bold;
    color: rgb(19, 204, 120);
}

p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(19, 204, 120);
}

input{
    padding: 5px;
    border: 5px;
    width: 200px;
    border-radius: 20px;
    color: rgb(128, 116, 116);
    font-size: 1em;
        
}

label{
    padding: 5px;
    border: 5px;
    width: 200px;
    border-radius: 20px;
    color: rgb(19, 204, 120);
    font-size: 1em;
}

select{
    padding: 5px;
    border: 5px;
    width: 200px;
    border-radius: 20px;
    color: rgb(128, 116, 116);
    font-size: 1em;
}

table {
    background-color: white;
    color: black;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th, td{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

th{
    background-color: rgb(25, 255, 146);
    color: rgb(63, 60, 60);
    font-weight: normal;
}


.adicional{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: black; 
    color: rgb(19, 204, 120);
    padding: 10px;
}

.opcao{
    font-size: 1em;
    color: rgb(19, 204, 120);
    border: 1px solid rgb(19, 204, 120);
    border-radius: 10px;
    margin-bottom: 20px;
}

div.tabela{
    width: 100%;
    padding: 0px 5px 5px 5px;
}

#iqt{
    width: 100%;
}
#itproom{
    width: 100%;
}
#iqtad{
    width: 100%;
}
#iqcri{
    width: 100%;
}
#iage{
    width: 100%;
}
#iage2{
    width: 100%;
}

.hoteldatas{
    font-size: 1em;
    columns:2;
    color: rgb(19, 204, 120);
    border: 1px solid rgb(19, 204, 120);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

#iaddCompanionButton{
    background-color: rgb(25, 255, 146);
    color: black;
    padding: 10px 30px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
        }

#iaddCompanionButton:hover {
        background-color: #FA7D0B;
 }
    
@media (max-width: 680px) {
        #iaddCompanionButton {
            width: 100%;
            padding: 10px;
            font-size: 12px;
        }
}

#clearFormButton{
    background-color: rgb(25, 255, 146);
    color: black;
}

#clearFormButton{
    background-color: rgb(25, 255, 146);
    color: black;
    padding: 10px 30px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
        }

    
@media (max-width: 600px) {
        #clearFormButton {
            width: 100%;
            padding: 10px;
            font-size: 12px;
        }
}



.adicional{
    background-color: black;
}
#adicional label{
    margin-bottom: 5px;
    font-weight: bolder;
}

#adicional textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(19, 204, 120);
    box-sizing: border-box;
    resize: vertical;
}


#imsg{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
}

#insButton{
    background-color: rgb(25, 255, 146);
    color: black;
}

#insButton:hover{
    background-color: #FA7D0B;
}



#insButton{
    background-color: rgb(25, 255, 146);
    color: black;
    padding: 10px 30px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  /*  margin-left: 25%;*/
        }

#insButton:hover {
        background-color: #FA7D0B;
 }
    
@media (max-width: 600px) {
        #insButton {
            width: 100%;
            padding: 10px;
            font-size: 12px;
        }
}

.btn:hover{
    background-color: #FA7D0B;
}

.btn{
background-color: rgb(25, 255, 146);
color: black;
padding: 10px 30px;
font-size:14px;
border: none;
border-radius: 20px;
cursor: pointer;
width: auto;
max-width: 100%;
box-sizing: border-box;
transition: background-color 0.3s ease;
margin-bottom: 10px;
/*  margin-left: 25%;*/
    }

@media (max-width: 600px) {
    #btn {
        width: 100%;
        padding: 10px;
        font-size: 12px;
    }
}
#iaddCompanionButton:hover{
    background-color: #FA7D0B;
}

#clearFormButton:hover{
    background-color: #FA7D0B;
}

@media (max-width: 600px) {
    .tabela {
        display: flex;
        flex-direction: column;
    }

    .tabela tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .tabela th, .tabela td {
        text-align: left;
    }
}


@media (max-width: 600px) {
    .adicional {
        padding: 10px;
    }

    .adicional textarea {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .botao button {
        width: 100%; 
    }
}

footer {
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1050px;
    margin: auto;
}

footer .coluna {
    flex: 1 1 23%;
    margin: 10px;
}

footer .logofim img {
    max-width: 100%;
    height: auto;
    
}

footer .contactos p,
footer .contactos a,
footer .contactos ul,
footer .contactos li,
footer .sobrenosfim ul,
footer .informacoesfim ul,
footer .informacoesfim li {
    color: black;
    text-align: left;
}

footer .contactos a,
footer .sobrenosfim a,
footer .informacoesfim a {
    color: #d71921;
}

footer .contactos p{
    font-size: 12px;
}

footer a{
    font-size: 14px;
}

footer .rodape {
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
}

footer .redes nav a {
    margin-right: 10px;
}

@media (max-width: 600px) {
    footer .footer-container {
        flex-direction: column;
        align-items: center;
    }

    footer .coluna {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

.footer-container h3{
    color: black;
    font-size: 16px;
    text-align: justify;
}

.rodape p{
    color: black;
}

.rodape a{
    color: #d71921;
    text-decoration: none;
}
.rodape a:hover{
    text-decoration: underline;
}






#success-message, #error-message {
    margin-top: 20px;
    font-weight: bold;
}

#success-message {
    color: green;
}

#error-message {
    color: red;
}


